*{
    padding:0;
    margin: 0;
    border:0;
        } /*No he posat el reset de Meyer per si de cas m'ho trencava tot*/

header{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    margin: 33px 0px;
    padding: 36px;
    
    /*height: 243px;*/
}

header img{
    width: 234px;
    height: 130px;
}

.alternativa{
    visibility: collapse;
}

header nav{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
}

.navegacion{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 63px;
    list-style: none;
    text-decoration: none;
}

.lista{
    list-style-type: none;
    
}

.lista a{
    color: black;
    text-decoration: none;
}


.breadcrumb{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 36px;
    column-gap: 1px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    text-decoration: none;
    list-style-type: none;
    margin-top: 20px;
  
}
 .breadcrumb .inicio{
    text-decoration: none;
    list-style-type: none;
}

.breadcrumb img{
    width: 9px;
    height: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

body{
    font-family: 'Roboto', sans-serif;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 28px;
    padding: 50px 0 0;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
        
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

div{
    display: flex;
    flex-direction: column;
        
    column-gap: 28px;
    width: 666px;
    font-size: 18px;
    line-height: 21px;
    padding: 10px;
    box-sizing: border-box;
}

input{
    width: 100%;
    height: 69px;
    background-color: rgba(148, 148, 148, 0.1);
    border: 0px;
    
    box-sizing: border-box;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: black;
    padding-top: 33px;
    padding-bottom: 33px;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: black;
}

#Mensaje{
    background-color: rgba(148, 148, 148, 0.1);
    border: 0px;
    
    box-sizing: border-box;
    width: 666px;
    height: 227px;
    
}


.politica{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
   
    line-height: 14px;
    top: 4px;
    left: 32px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.politica input{
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    background: #F1F1F1;
    border: 1px solid #000000;
}

div button{
    background-color: #069697;
    color: white;
    width: 175px;
    height: 36px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 91px;
    padding-top: 50px;
   
   }

.menu2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 108px;
    
}

.menu3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 108px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 34px;
    text-align: center;
    line-height: 40px;
    
    }

.menu3 img{
    padding-bottom: 20px;
}

.botonMenu{
    width: 102px;
    height: 36px;
    border-radius: 2px;
    padding: 10px 21px 10px 21px;
    background: #069697;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: white;
   
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    column-gap: 51px;
        
    height: 266px;
    margin-top: 50px;
        
    box-sizing: border-box;
    
    background: black;
    color: white;
    
}

@media screen and (min-width: 840px) and (max-width: 1199px){
    .alternativa{
        visibility: collapse;
        }

    .menu3{
        width: 25%;
        }

    footer {
        flex-direction: column;
        gap: 10px;
        }
}

@media screen and (min-width: 740px) and (max-width: 839px){

    .alternativa{
        visibility: collapse;
        }

    .navegacion{
            padding: 50px;
        }

    .menu3{
        width: 20%;
        }

    .menu3 img{
            width: 225px;
            height: 224px;
        }

    footer {
        flex-direction: column;
        gap: 10px;
        }
}

 @media screen and (min-width: 320px) and (max-width: 739px){
     
    header img{
         visibility: collapse;
     }
     
    .alternativa{
         visibility: visible;
        
        position:absolute;
        left: 20px;
        top: 10px;
        width: 87px;
        height: 87px;
     }
     
     .navegacion{
         visibility: collapse;
     }
     
     .breadcrumb{
         visibility: collapse;
     }
     
     h3{
         text-align: center;
     }
     
     section form div {
         width: 320px;
        
     }
     
    #Mensaje{
         width: 280px;
         height: 194px;
     }
     
     .menu2{
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 0px;
         gap: 50px;
         
     }
     
     .menu{
         text-align: center;
     }

   
    footer{
         flex-direction: column;
         gap: 10px;
     }
}
