
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;

}

header {
    display: flex;
    flex-direction: column;
    margin: 13px 0px;
    padding: 13px;

    height: 280px;
}

header img {
    width: 234px;
    height: 200px;
}

.alternativa {
    visibility: hidden;

}

header nav {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
}

.navegacion {

    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 63px;
    list-style: none;
    text-decoration: none;
    margin-bottom: 50px;
}

.lista {
    list-style-type: none;

}

.lista a {
    color: black;
    text-decoration: none;
}


.breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 36px;
    column-gap: 10px;
    
    list-style: none;


    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.breadcrumb img{
    width: 9px;
    height: 14px;
}

.tituloMenuE{
    font-size: 40px;
    line-height: 100px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

.menuE1, .menuE2, .menuE3 {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}/*contenedores padre*/

article.card h3{
    font-size: 48px;
    font-weight: 300;
    line-height: 56px;
    padding-bottom: 15px;
}/*titulo lista*/

.menuE1, .menuE2, .menuE3 article{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
} /*texto lista*/

article.card ul{ /*sangria lista*/
    padding-left: 50px;
}

.texto{
    margin-top: 20px;
}

/*Aoartado servicios*/

.tituloMenu {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.menus div img {
    border-radius: 150px;
}

.menus {
    /*PADRE*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.menus div h3 {
    /*titulo Empresas, escuelas, celebraciones*/
    font-weight: 300;
    font-size: 34px;
    line-height: 40px;
}

.botonContacto {
    display: block;
    width: 150px;
    height: 50px;
    border: 1px solid #069697;
    font-family: 'Roboto';
    color: white;

    background-color: #069697;
    /*para mover el boton de sitio*/
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;

}

.menus a.botonContacto {
    margin-left: 50px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: black;
    color: white;
    width: auto;
    height: 200px;
    margin-top: 50px;
}

footer img {
    width: 45px;
    height: 46px;
    padding: 10px;
}


