
*{
    padding:0px;
    margin:0px;

}

body{
    font-family: 'Roboto';
}

.padre{ /*header*/
    display: flex;
    justify-content:space-between;



    margin: 30px 40px 30px 40px;
}

.menu{ /*SOlo ha cambiado los simbolitos*/
    list-style: none;
}

.menu li a{
    text-decoration: none; /*SUBRAYADO FUERA*/
    color: black;
    padding: 10px; /*separacion entre ellos*/
    display:block;
    margin-top: 50px;
    padding: 20px;



}

.menu li{
    display: inline-block; /*Se puso horizontal*/
    text-align: end;


    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25px));
}

.servicio{ /*regtangulo sobre servicios*/
    width: 120px;
    height: 35px;

    border: none;
    background-color: #069697;
    color:white;
}

.diapo{ /*foto principal*/

   text-align: center;
}

.tituloValores{
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    text-align: center;

    margin: 50px;
}

.tituloProfesional{ 
    font-size: 48px;
    font-weight: 300;
    line-height: 56px;

    margin-bottom: 20px;
}

section article {
    margin: 10px;
    padding: 20px;

}

section article p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.botonContacto{
    display: block;
    width: 100px;
    height: 20px;
    border: 1px solid #069697;
    font-family: 'Roboto';
    color: white;

    background-color: #069697; /*para mover el boton de sitio*/
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;

}

.fotoChampagne{
    background-image: url(../img/Mask\ Group-7.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 585px;
    height: 340px;
    
}

section{
    display: flex;
    justify-content: space-around;
}

.fotoCocina{
    background-image: url(../img/Mask\ Group.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 585px;
    height: 340px;
}

/*hombre cocina- parte derecha*/

.tituloCompromiso{
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 20px;

}

.compromiso p{
        font-weight: 400;
        font-size: 18px;
        line-height: 40px;
        text-align: left;

}


/*APARTADO MENUS*/

.tituloMenu{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 50px;
}

.menus div img{
    border-radius: 150px;
}

.menus{ /*PADRE*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.menus div h3{ /*titulo Empresas, escuelas, celebraciones*/
    font-weight: 300;
    font-size: 34px;
    line-height: 40px;
}

.menus  a.botonContacto{
    margin-left: 50px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    background-color: black;
    color: white;
    width: auto;
    height: 200px;
    margin-top: 50px;
}

footer img{
    width: 45px;
    height: 46px;
    padding: 10px;
}

